.footer {
    padding: 80px 0;
    background-color: #000;
    min-height: 190px;
    color: #fff;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
    }
    &__logo {
        img {
            width: 120px;
        }
    }
    &__rights {
        span {
            font-family: "Orchidea Pro", sans-serif;
        }
    }
    &__contact {
        font-family: "Orchidea Pro", sans-serif;
        text-decoration: none;
        color: #fff;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        width: 150px;
        &-item {
            text-decoration: none;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}