.gallery {
    padding: 80px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 365px);
        grid-template-rows: repeat(2, 485px);
        grid-auto-rows: 485px;
        gap: 20px;
    }
    &__item {
        width: 365px;
        height: 485px;
        object-fit: cover;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .30));
        border-radius: 10px;
    }
}