@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 490px 700px;
        }
        &__footer {
            justify-content: unset;
        }
        &__img {
            &_me {
                height: 435px;
            }
        }
    }
    .carousel {
        .tns-outer {
            width: 50%;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__link {
            &:hover {
                &:after {
                    width: 0%;
                }
            }
        }
    }
    .promo {
        min-height: 555px;
        &__wrapper {
            margin-top: 100px;
        }
        &__header {
            span {
                font-size: 42px;
            }
        }
        &__main {
            width: 300px;
            height: 300px;
            right: 65px;
            top: 155px;
        }
        &__butterfly {
            width: 175px;
            left: 240px;
        }
        .button {
            margin-top: 28px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 490px 420px;
            &_service {
                grid-template-columns: 100%;
                column-gap: 0;
            }
        }
        &__img {
            &_service {
                grid-column: 1/2;
                height: 300px;
            }
            &_me {
                height: 610px;
            }
        }
        &__descr {
            &_service {
                margin-top: 30px;
                grid-row: 2/3;
            }
        }
        &__getting {
            grid-row: 3/4;
            grid-column: unset;
        }
        &__footer {
            margin-top: 18px;
            grid-column: unset;
            grid-row: 4/5;
            align-items: flex-start;
        }
    }
    .carousel {
        .tns-outer {
            width: 48%;
        }
        .prev {
            left: 175px;
        }
        .next {
            right: 175px;
        }
    }
    .form {
        &__subtitle {
            font-size: 19px;
        }
        &__input {
            width: 500px;
            height: 45px;
        }
        &__textarea {
            width: 500px;
            height: 170px;
        }
        .button {
            height: 45px;
        }
    }
    .gallery {
        &__wrapper {
            grid-template-columns: repeat(3, 300px);
        }
        &__item {
            width: 300px;
        }
    }
    .contacts {
        &__text,&__email,&__phone,&__social {
            font-size: 18px;
        }
        &__img {
            width: 400px;
        }
    }
    .title {
        &_left {
            font-size: 33px;
        }
    }
    .button {
        &:hover {
            background-color: $main-color;
        }
        &_ask {
            &:hover {
                background-color: #fff;
                color: #000;
                border: 2px solid $main-color;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        min-height: 520px;
        &__main {
            width: 250px;
            height: 250px;
            right: 0;
            top: 165px;
        }
        &__header {
            font-size: 20px;
            span {
                font-size: 35px;
            }
        }
        &__subheader {
            font-size: 20px;
            line-height: 30px;
        }
        &__butterfly {
            width: 150px;
            left: 200px;
        }
        .button {
            width: 130px;
            height: 40px;
            margin-top: 18px;
        }
    }
    .header {
        &__contact {
            display: none;
        }
        &__link {
            a {
                font-size: 17px;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 340px 340px;
            &_service {
                grid-template-columns: 100%;
            }
        }
        &__text {
            font-size: 18px;
            margin-top: 10px;
        }
        .title {
            font-size: 24px;
        }
    }
    .services {
        padding: 65px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 300px);
            row-gap: 70px;
        }
    }
    .carousel {
        padding: 65px 0;
        .tns-outer {
            width: 62%;
        }
        .prev {
            left: 60px;
        }
        .next {
            right: 60px;
        }
    }
    .form {
        padding: 65px 0;
        &__input {
            height: 45px;
        }
        &__textarea {
            height: 160px;
        }
        &__privacy {
            font-size: 15px;
        }
    }
    .footer {
        padding: 65px 0;
        min-height: 160px;
        &__wrapper {
            font-size: 13px;
        }
        &__social {
            width: 100px;
            &-item {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .gallery {
        padding: 65px 0;
        &__wrapper {
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: repeat(2, 333px);
            grid-auto-rows: 333px;
        }
        &__item {
            width: 250px;
            height: 333px;
        }
    }
    .contacts {
        padding: 65px 0;
        &__wrapper {
            grid-template-columns: 100%;
            row-gap: 55px;
        }
        &__img {
            width: 100%;
            grid-row: 1/2;
        }
    }
    .title {
        font-size: 26px;
        &_center {
            margin-bottom: 65px;
        }
    }
    .button {
        &_submit {
            width: 130px;
        }
    }


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding: 26px 0;
        &__nav {
            display: none;
        }
    }
    .promo, .header {
        .hamburger {
            display: flex;
        }
    }
    .promo {
        min-height: 650px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 326px;
        }
        &__main {
            width: 300px;
            height: 300px;
            top: 83px;
            right: 120px;
        }
        &__header, &__subheader {
            text-align: center;
        }
        &__subheader {
            width: 215px;
        }
        &__butterfly {
            display: none;
        }
    }
    .about {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 100%;
            grid-template-rows: 1fr 300px;
            row-gap: 30px;
            &_me {
                row-gap: 40px;
            }
            &_service {
                grid-template-rows: unset;
                column-gap: 0;
                row-gap: 0;
            }
        }
        &__descr {
            grid-row: 1/2;
            &_service {
                grid-row: 2/3;
            }
        }
        &__text {
            text-align: center;
            p {
                margin-bottom: 0.7rem;
                &:last-child {
                    margin: 0;
                }
            }
            
        }
        &__img {
            grid-row: 2/3;
            &_service {
                grid-row: 1/2;
            }
            &_me {
                width: 300px;
                height: 300px;
                justify-self: center;
            }
        }
        &__getting {
            text-align: center;
        }
        &__footer {
            justify-content: space-around;
            grid-row: 4/5;
            align-items: center;
        }
        &__price {
            text-align: center;
        }
        .title {
            text-align: center;
            margin-bottom: 0.7rem;
        }
    }
    .services {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 300px;
            row-gap: 40px;
            justify-content: center;
        }
    }
    .carousel {
        padding: 40px 0 68px 0;
        .tns-outer {
            width: 70%;
            .tns-nav {
                bottom: -28px;
            }
        }
        .tns-item {
            img {
                width: 325px;
            }
        }
        .prev {
            left: 0px;
        }
        .next {
            right: 0px;
        }
    }
    .form {
        padding: 40px 0;
        &__area {
            align-items: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__input {
            width: 100%;
        }
        &__textarea {
            width: 100%;
        }
    }
    .footer {
        min-height: 260px;
        padding: 40px 0;
        &__wrapper {
            flex-direction: column;
            font-size: 16px;
            height: 220px;
        }
        &__social {
            width: 120px;
        }
    }
    .gallery {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 250px);
        }
    }
    .contacts {
        padding: 40px 0;
        &__wrapper {
            row-gap: 28px;
        }
        &__descr {
            text-align: center;
        }
        &__social {
            justify-content: center;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
        &_center {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        min-height: 600px;
        &__main {
            width: 250px;
            height: 250px;
            right: 50%;
            transform: translateX(50%);
        }
        &__wrapper {
            margin-top: 276px;
        }
        &__header {
            line-height: 35px;
            span {
                font-size: 29px;
            }
        }
    }
    .about {
        padding: 35px 0;
        &__text,&__list {
            font-size: 17px;
        }
    }
    .privacy {
        .container {
            padding: 0 20px;
        }
    }
    .carousel {
        padding: 40px 0 73px 0;
        .tns-outer {
            width: 100%;
            .tns-nav {
                bottom: -35px;
            }
        }
        .tns-item {
            img {
                width: 300px;
            }
        }
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
    }
    .form {
        &__subtitle {
            font-size: 18px;
            line-height: 25px;
            margin-top: 15px;
        }
    }
    .gallery {
        &__wrapper {
            grid-template-columns: 100%;
            align-content: center;
            img {
                margin: 0 auto;
            }
        }
    }
    .modal {
        width: 55%;
        min-height: 99px;
        padding: 20px;
        &__title {
            font-size: 17px;
        }
    }
    .title {
        font-size: 21px;
    }
    }
}
